.content- {
    &-product-details {
        h2 {
            
        }
    }
    &-details-view {
        list-style: none;
        margin: 1rem 0 0;
        .col-md-4 {
            padding: 0;
            &.active {
                .content-product-view {
                    background: #f5f5f5;
                    padding-bottom: 1rem;
                }
            }
        }
        .content-product {
            &-view {
                cursor: pointer;
                margin-right: 2.5px;
                iframe {
                    width: 100%;
                    height: 450px;
                }
                h3 {
                    margin-bottom: 0;
                    padding: 0 1rem;
                    position: relative;
                    span {
                        position: absolute;
                        right: 10px;
                    }
                }
            }
        }
    }
    &full-details {
        background: #f5f5f5;
        margin: 0 0 1rem;
        padding: 1rem 0;
        h4 {
            font-weight: 700;
        }
    }
    &-wrapper {
        position: relative;
    }
    &-details-list {
        margin-top: 2rem;
        position: relative;
        width: 100%;
        .content-product {
            &-view {
                cursor: pointer;
                margin-bottom: 1.7rem;
                overflow: hidden;
                position: relative;
                text-align: center;
                img {
                    width: 100%;
                    margin: 0;
                    object-fit: cover;
                }
                &.product-effect {
                    background: $blue;
                    img {
                        max-width: none;
                        width: -webkit-calc(100% + 20px);
                        width: calc(100% + 20px);
                        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                        transition: opacity 0.35s, transform 0.35s;
                        -webkit-transform: translate3d(-10px,0,0);
                        transform: translate3d(-10px,0,0);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                    &:hover {
                        img {
                            opacity: 0.4;
                            -webkit-transform: translate3d(0,0,0);
                            transform: translate3d(0,0,0);
                        }
                        h2 {
                            &:after {
                                -webkit-transform: translate3d(0,0,0);
                                transform: translate3d(0,0,0);
                            }
                        }
                        p {
                            opacity: 1;
                            -webkit-transform: translate3d(0,0,0);
                            transform: translate3d(0,0,0);
                        }
                    }
                    figcaption {
                        text-align: left;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    h2 {
                        color: $white;
                        font-size: 1.125rem;
                        margin-bottom: 0;
                        overflow: hidden;
                        padding: 0.5em 1rem;
                        position: relative;
                        &:after {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background: $white;
                            content: '';
                            -webkit-transition: -webkit-transform 0.35s;
                            transition: transform 0.35s;
                            -webkit-transform: translate3d(-100%,0,0);
                            transform: translate3d(-100%,0,0);
                        }
                    }
                    p {
                        color: $white;
                        opacity: 0;
                        padding: 1rem;
                        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                        transition: opacity 0.35s, transform 0.35s;
                        -webkit-transform: translate3d(100%,0,0);
                        transform: translate3d(100%,0,0);
                    }
                }
            }
        }
    }
}


.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
	-webkit-animation-name: anim-open;
	animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
	-webkit-animation-name: anim-close;
	animation-name: anim-close;
}

@-webkit-keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
	0% { opacity: 0; -webkit-transform: scale3d(1.1, 1.1, 1); transform: scale3d(1.1, 1.1, 1); }
	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); }
}

@keyframes anim-close {
	0% { opacity: 1; }
	100% { opacity: 0; -webkit-transform: scale3d(0.9, 0.9, 1); transform: scale3d(0.9, 0.9, 1); }
}
