.content- {
    &-details-index {
        .search-title {
            span {
                text-transform: capitalize;
            }
        }
    }
    &-details-view {
        .content-list-view {
            ul {
                list-style: none;
                margin-left: .25rem;
                -moz-column-count:3;
                -moz-column-gap: 3%;
                -moz-column-width: 30%;
                -webkit-column-count:3;
                -webkit-column-gap: 3%;
                -webkit-column-width: 30%;
                column-count: 3;
                column-gap: 3%;
                column-width: 30%;
                li {
                    margin-bottom: .75rem;
                    margin-left: 1rem;
                    .content-letter {
                        .letter {
                            &-nav {
                                padding: 0;
                                label {
                                    line-height: 1.5;
                                    margin-bottom: 0;
                                    padding-left: .5rem;
                                }
                            }
                            &-word {
                                padding: 0;
                                a {

                                }
                            }
                        }
                    }
                    a {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}