/* Fonts */
@font-face {
    font-family: 'Voestalpine-Ultralight';
    src: url('../fonts/Voestalpine/Voestalpine-Ultralight/Font.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/Voestalpine/Voestalpine-Ultralight/Font.woff') format('woff'), 
         url('../fonts/Voestalpine/Voestalpine-Ultralight/Font.ttf')  format('truetype'), 
         url('../fonts/Voestalpine/Voestalpine-Ultralight/Font.svg#Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Voestalpine-Light';
    src: url('../fonts/Voestalpine/Voestalpine-Light/Font.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/Voestalpine/Voestalpine-Light/Font.woff') format('woff'), 
         url('../fonts/Voestalpine/Voestalpine-Light/Font.ttf')  format('truetype'), 
         url('../fonts/Voestalpine/Voestalpine-Light/Font.svg#Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Voestalpine-Medium';
    src: url('../fonts/Voestalpine/Voestalpine-Medium/Font.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/Voestalpine/Voestalpine-Medium/Font.woff') format('woff'), 
         url('../fonts/Voestalpine/Voestalpine-Medium/Font.ttf')  format('truetype'), 
         url('../fonts/Voestalpine/Voestalpine-Medium/Font.svg#Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Voestalpine-Regular';
    src: url('../fonts/Voestalpine/Voestalpine-Regular/Font.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/Voestalpine/Voestalpine-Regular/Font.woff') format('woff'), 
         url('../fonts/Voestalpine/Voestalpine-Regular/Font.ttf')  format('truetype'), 
         url('../fonts/Voestalpine/Voestalpine-Regular/Font.svg#Font') format('svg');
    font-weight: normal;
    font-style: normal;
}