// FONTS
$font-v-ultralight: 'Voestalpine-Ultralight', Arial, sans-serif;
$font-v-light: 'Voestalpine-Light', Arial, sans-serif;
$font-v-medium: 'Voestalpine-Medium', Arial, sans-serif;
$font-v-regular: 'Voestalpine-Regular', Arial, sans-serif;

// COLORS
$white: #ffffff;
$black: #000000;
$blue: #0082b4;
$gray: #ddd;